<a href="https://colab.research.google.com/github/AnnaZhuravleva/avtobreja/blob/master/crop_at_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Here I merge results of differnet methods

In [173]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

## Extract graph based scores

In [0]:
import pandas as pd
import numpy as np
from collections import defaultdict

In [85]:
!wget https://raw.githubusercontent.com/AnnaZhuravleva/avtobreja/master/seeds/service_sentiment_reclassified.csv

--2019-12-23 15:07:39--  https://raw.githubusercontent.com/AnnaZhuravleva/avtobreja/master/seeds/service_sentiment_reclassified.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 23179 (23K) [text/plain]
Saving to: ‘service_sentiment_reclassified.csv’

service_sentiment_r 100%[===================>]  22.64K  --.-KB/s    in 0.01s

2019-12-23 15:07:39 (1.83 MB/s) - ‘service_sentiment_reclassified.csv’ saved [23179/23179]

In [86]:
!wget https://raw.githubusercontent.com/AnnaZhuravleva/avtobreja/master/seeds/food_sentiment_reclassified.csv

--2019-12-23 15:07:42--  https://raw.githubusercontent.com/AnnaZhuravleva/avtobreja/master/seeds/food_sentiment_reclassified.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 23179 (23K) [text/plain]
Saving to: ‘food_sentiment_reclassified.csv’

food_sentiment_recl 100%[===================>]  22.64K  --.-KB/s    in 0.01s

2019-12-23 15:07:42 (1.79 MB/s) - ‘food_sentiment_reclassified.csv’ saved [23179/23179]

In [87]:
service_graph_scores_df = pd.read_csv("service_sentiment_reclassified.csv", sep='\t', names=['word', 'POS', 'score'])
service_graph_scores_df['lemma_POS'] = service_graph_scores_df['word'].apply(lambda s: s.strip('-').strip('.').lower()) + '_' + service_graph_scores_df['POS']
service_graph_scores_df = service_graph_scores_df.drop(['POS', 'word'], axis=1)
service_graph_scores_df.tail()

     score     lemma_POS
918      1    уютный_ADJ
919      1    свежий_ADJ
920      1  красивый_ADJ
921      1    сытный_ADJ
922      1   вкусный_ADJ

In [0]:
service_graph_scores = list(set([tuple([r[1], r[0]]) for r in service_graph_scores_df.values]))

In [89]:
food_graph_scores_df = pd.read_csv("food_sentiment_reclassified.csv", sep='\t', names=['word', 'POS', 'score'])
food_graph_scores_df['lemma_POS'] = food_graph_scores_df['word'].apply(lambda s: s.strip('-').strip('.').lower()) + '_' + food_graph_scores_df['POS']
food_graph_scores_df = food_graph_scores_df.drop(['POS', 'word'], axis=1)
food_graph_scores_df.tail()

     score     lemma_POS
918      1    уютный_ADJ
919      1    свежий_ADJ
920      1  красивый_ADJ
921      1    сытный_ADJ
922      1   вкусный_ADJ

In [0]:
food_graph_scores = list(set([tuple([r[1], r[0]]) for r in food_graph_scores_df.values]))

## Extract n-gram ranks

In [8]:
!wget https://raw.githubusercontent.com/AnnaZhuravleva/avtobreja/master/word_lists/total_CNN%2BSAM/full_service_3grams.csv

--2019-12-23 14:44:14--  https://raw.githubusercontent.com/AnnaZhuravleva/avtobreja/master/word_lists/total_CNN%2BSAM/full_service_3grams.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 957753 (935K) [text/plain]
Saving to: ‘full_service_3grams.csv.1’

full_service_3grams 100%[===================>] 935.31K  --.-KB/s    in 0.07s

2019-12-23 14:44:14 (12.2 MB/s) - ‘full_service_3grams.csv.1’ saved [957753/957753]

In [9]:
!wget https://raw.githubusercontent.com/AnnaZhuravleva/avtobreja/master/word_lists/total_CNN%2BSAM/full_food_3grams.csv

--2019-12-23 14:44:15--  https://raw.githubusercontent.com/AnnaZhuravleva/avtobreja/master/word_lists/total_CNN%2BSAM/full_food_3grams.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 963652 (941K) [text/plain]
Saving to: ‘full_food_3grams.csv.1’

full_food_3grams.cs 100%[===================>] 941.07K  --.-KB/s    in 0.07s

2019-12-23 14:44:16 (12.3 MB/s) - ‘full_food_3grams.csv.1’ saved [963652/963652]

In [10]:
service_n_grams = pd.read_csv('full_service_3grams.csv', sep='\t', names=['lemma_POS', 'rank'])
service_n_grams.tail()

                              lemma_POS       rank
19969              место_NOUN как_SCONJ -67.359245
19970          место_NOUN интерьер_NOUN -69.560195
19971  атмосфера_NOUN обслуживание_NOUN -73.228183
19972  обслуживание_NOUN атмосфера_NOUN -73.228183
19973      место_NOUN обслуживание_NOUN -81.014264

In [11]:
food_n_grams =  pd.read_csv('full_food_3grams.csv', sep='\t', names=['lemma_POS', 'rank'])
food_n_grams.tail()

                              lemma_POS        rank
19969                 плохо_ADV не_PART -117.746496
19970         плохо_ADJ не_PART и_CCONJ -117.746496
19971                плохо_ADJ все_PRON -119.028149
19972  плохой_ADJ не_PART интерьер_NOUN -123.060394
19973              плохо_ADJ совсем_ADV -138.797677

## Exstract combined CNN and vector ranks

In [12]:
!wget https://raw.githubusercontent.com/AnnaZhuravleva/avtobreja/master/word_lists/total_CNN%2BSAM/full_food_service_wo_mark.csv

--2019-12-23 14:44:17--  https://raw.githubusercontent.com/AnnaZhuravleva/avtobreja/master/word_lists/total_CNN%2BSAM/full_food_service_wo_mark.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1246393 (1.2M) [text/plain]
Saving to: ‘full_food_service_wo_mark.csv.1’

full_food_service_w 100%[===================>]   1.19M  --.-KB/s    in 0.07s

2019-12-23 14:44:17 (16.0 MB/s) - ‘full_food_service_wo_mark.csv.1’ saved [1246393/1246393]

In [13]:
!wget https://raw.githubusercontent.com/AnnaZhuravleva/avtobreja/master/word_lists/total_CNN%2BSAM/full_food_wo_mark.csv

--2019-12-23 14:44:19--  https://raw.githubusercontent.com/AnnaZhuravleva/avtobreja/master/word_lists/total_CNN%2BSAM/full_food_wo_mark.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1301929 (1.2M) [text/plain]
Saving to: ‘full_food_wo_mark.csv.1’

full_food_wo_mark.c 100%[===================>]   1.24M  --.-KB/s    in 0.1s

2019-12-23 14:44:19 (11.6 MB/s) - ‘full_food_wo_mark.csv.1’ saved [1301929/1301929]

In [14]:
service_combined =  pd.read_csv('full_food_service_wo_mark.csv', sep='\t', names=['lemma_POS', 'rank'])
service_combined.tail()

             lemma_POS        rank
29968     ласковый_ADJ -110.269782
29969     любезный_ADJ -111.020476
29970  дружелюбный_ADJ -113.138820
29971     радушный_ADJ -119.292144
29972  приветливый_ADJ -120.355912

In [15]:
food_combined =  pd.read_csv('full_food_wo_mark.csv', sep='\t', names=['lemma_POS', 'rank'])
food_combined.tail()

                lemma_POS       rank
31260  необыкновенный_ADJ -73.041091
31261    великолепный_ADJ -76.084335
31262      живописный_ADJ -76.777247
31263        обширный_ADJ -77.776156
31264  величественный_ADJ -80.639570

## Crop at 1%

### n-grams

#### service

In [16]:
service_n_grams.sort_values(['rank'], ascending=False)

                              lemma_POS        rank
0         вежливый_ADJ внимательный_ADJ  169.769622
1            приятный_ADJ спокойный_ADJ  163.490297
2                  милый_ADJ уютный_ADJ  149.057887
3              светлый_ADJ приятный_ADJ  144.640297
4               прием_NOUN радушный_ADJ  142.234406
...                                 ...         ...
19969              место_NOUN как_SCONJ  -67.359245
19970          место_NOUN интерьер_NOUN  -69.560195
19971  атмосфера_NOUN обслуживание_NOUN  -73.228183
19972  обслуживание_NOUN атмосфера_NOUN  -73.228183
19973      место_NOUN обслуживание_NOUN  -81.014264

[19974 rows x 2 columns]

In [17]:
len(service_n_grams) * 0.01

199.74

In [0]:
service_n_grams_sorted = list(service_n_grams.sort_values(['rank'], ascending=False)["lemma_POS"])

In [19]:
service_n_grams_good = service_n_grams_sorted[:int(len(service_n_grams) * 0.01)]
service_n_grams_bad = service_n_grams_sorted[-int(len(service_n_grams) * 0.01):]
service_n_grams_good[0]

'вежливый_ADJ внимательный_ADJ'

In [0]:
service_n_gram_scores = [(word, 1)  for word in service_n_grams_good] + [(word, 0)  for word in service_n_grams_bad]

In [0]:
def crop_and_score(df, ratio=0.01):
  df_sorted = list(df.sort_values(['rank'], ascending=False)["lemma_POS"])
  df_good = df_sorted[:int(len(df) * ratio)]
  df_bad = df_sorted[-int(len(df) * ratio):]
  return [(word, 1)  for word in df_good] + [(word, 0)  for word in df_bad]

In [22]:
service_n_gram_scores == crop_and_score(service_n_grams)

True

In [23]:
service_n_gram_scores_df = pd.DataFrame(service_n_gram_scores, columns =['lemma_POS', 'score']) 
service_n_gram_scores_df.tail()

                            lemma_POS  score
393              место_NOUN как_SCONJ      0
394          место_NOUN интерьер_NOUN      0
395  атмосфера_NOUN обслуживание_NOUN      0
396  обслуживание_NOUN атмосфера_NOUN      0
397      место_NOUN обслуживание_NOUN      0

#### food

In [24]:
food_n_gram_scores = crop_and_score(food_n_grams)
food_n_gram_scores_df = pd.DataFrame(food_n_gram_scores, columns =['lemma_POS', 'score']) 
food_n_gram_scores_df.tail()

                            lemma_POS  score
393                 плохо_ADV не_PART      0
394         плохо_ADJ не_PART и_CCONJ      0
395                плохо_ADJ все_PRON      0
396  плохой_ADJ не_PART интерьер_NOUN      0
397              плохо_ADJ совсем_ADV      0

### CNN + vector

In [25]:
service_combined_scores = crop_and_score(service_combined)
service_combined_scores_df = pd.DataFrame(service_combined_scores, columns =['lemma_POS', 'score']) 
service_combined_scores_df.tail()

           lemma_POS  score
593     ласковый_ADJ      0
594     любезный_ADJ      0
595  дружелюбный_ADJ      0
596     радушный_ADJ      0
597  приветливый_ADJ      0

In [26]:
food_combined_scores = crop_and_score(food_combined)
food_combined_scores_df = pd.DataFrame(food_combined_scores, columns =['lemma_POS', 'score']) 
food_combined_scores_df.tail()

              lemma_POS  score
619  необыкновенный_ADJ      0
620    великолепный_ADJ      0
621      живописный_ADJ      0
622        обширный_ADJ      0
623  величественный_ADJ      0

## Compare graph & combined

**CONTRADICTIONS WILL BE RESOLVED BY HAND**

In [0]:
def extend_vocabulary(scores, vocabulary):
  scores_dict = dict()
  for word, score in scores:
    scores_dict[word] = score
  for word in vocabulary:
    if word not in scores_dict:
      scores_dict[word] = np.nan
  return [el[1] for el in sorted(list(scores_dict.items()), key = lambda el: el[0])]

### Service

In [0]:
vocab_service = sorted(list(set([el[0] for el in service_combined_scores + service_graph_scores])))

In [94]:
service_df = pd.DataFrame(columns=['graph', 'combined'], index=vocab_service)
service_df['graph'] = extend_vocabulary(service_graph_scores, vocab_service)
service_df['combined'] = extend_vocabulary(service_combined_scores, vocab_service)
service_df.tail()

                               graph  combined
японский_ADJ                     0.0       NaN
японско-минималистический_ADJ    0.0       NaN
япошка_NOUN                      NaN       1.0
яркий_ADJ                        1.0       NaN
ясный_ADJ                        0.0       NaN

In [96]:
service_df['ok'] = service_df['graph'] == service_df['combined']
service_df[service_df['ok'] == False].dropna()

                       graph  combined     ok
ароматный_ADJ            1.0       0.0  False
вежливый_ADJ             1.0       0.0  False
веселый_ADJ              1.0       0.0  False
внимательный_ADJ         1.0       0.0  False
доброжелательный_ADJ     1.0       0.0  False
дорогой_ADJ              1.0       0.0  False
интересный_ADJ           1.0       0.0  False
комфортный_ADJ           1.0       0.0  False
красивый_ADJ             1.0       0.0  False
легкий_ADJ               1.0       0.0  False
любезный_ADJ             1.0       0.0  False
милый_ADJ                1.0       0.0  False
мягкий_ADJ               1.0       0.0  False
недорогой_ADJ            1.0       0.0  False
ненавязчивый_ADJ         1.0       0.0  False
обходительный_ADJ        1.0       0.0  False
оригинальный_ADJ         1.0       0.0  False
отзывчивый_ADJ           1.0       0.0  False
предупредительный_ADJ    1.0       0.0  False
приветливый_ADJ          1.0       0.0  False
светлый_ADJ              1.0       0.0  False
симпатичный_ADJ          1.0       0.0  False
спокойный_ADJ            1.0       0.0  False
сытный_ADJ               1.0       0.0  False
теплый_ADJ               1.0       0.0  False
тихий_ADJ                1.0       0.0  False
удивительный_ADJ         1.0       0.0  False
удобный_ADJ              1.0       0.0  False
уютно_ADJ                1.0       0.0  False
щедрый_ADJ               1.0       0.0  False

In [118]:
resolve_service = list(service_df[service_df['ok'] == False].dropna().index)
resolve_service

['ароматный_ADJ',
 'вежливый_ADJ',
 'веселый_ADJ',
 'внимательный_ADJ',
 'доброжелательный_ADJ',
 'дорогой_ADJ',
 'интересный_ADJ',
 'комфортный_ADJ',
 'красивый_ADJ',
 'легкий_ADJ',
 'любезный_ADJ',
 'милый_ADJ',
 'мягкий_ADJ',
 'недорогой_ADJ',
 'ненавязчивый_ADJ',
 'обходительный_ADJ',
 'оригинальный_ADJ',
 'отзывчивый_ADJ',
 'предупредительный_ADJ',
 'приветливый_ADJ',
 'светлый_ADJ',
 'симпатичный_ADJ',
 'спокойный_ADJ',
 'сытный_ADJ',
 'теплый_ADJ',
 'тихий_ADJ',
 'удивительный_ADJ',
 'удобный_ADJ',
 'уютно_ADJ',
 'щедрый_ADJ']

In [142]:
ok_service_df = service_df.drop(index=resolve_service).fillna(0)
ok_service_df = pd.DataFrame(ok_service_df['graph'] + ok_service_df['combined'], columns=['correct'])
ok_service_df.tail()

                               correct
японский_ADJ                       0.0
японско-минималистический_ADJ      0.0
япошка_NOUN                        1.0
яркий_ADJ                          1.0
ясный_ADJ                          0.0

In [138]:
resolved_service_df = pd.DataFrame([1.0]*len(resolve_service), columns=['correct'], index=resolve_service)
resolved_service_df.tail()

                  correct
тихий_ADJ             1.0
удивительный_ADJ      1.0
удобный_ADJ           1.0
уютно_ADJ             1.0
щедрый_ADJ            1.0

In [149]:
ok_service_df.append(resolved_service_df)

                    correct
авторский_ADJ           0.0
адекватный_ADJ          0.0
адоптировать_ADJ        0.0
азиатский_ADJ           0.0
аккуратненький_ADJ      0.0
...                     ...
тихий_ADJ               1.0
удивительный_ADJ        1.0
удобный_ADJ             1.0
уютно_ADJ               1.0
щедрый_ADJ              1.0

[1398 rows x 1 columns]

In [0]:
ok_service_scores = [tuple(r) for r in ok_service_df.append(resolved_service_df).reset_index().values]

### Food

In [0]:
vocab_food = sorted(list(set([el[0] for el in food_combined_scores + food_graph_scores])))

In [69]:
food_df = pd.DataFrame(columns=['graph', 'combined'], index=vocab_food)
food_df['graph'] = extend_vocabulary(food_graph_scores, vocab_food)
food_df['combined'] = extend_vocabulary(food_combined_scores, vocab_food)
food_df.tail()

                               graph  combined
японский_ADJ                     0.0       NaN
японско-минималистический_ADJ    0.0       NaN
яркий_ADJ                        1.0       0.0
ярусный_ADJ                      NaN       0.0
ясный_ADJ                        0.0       NaN

In [97]:
food_df['ok'] = food_df['graph'] == food_df['combined']
food_df[food_df['ok'] == False].dropna()

                   graph  combined     ok
вкусный_ADJ          0.0       1.0  False
глупо_ADJ            0.0       1.0  False
голодный_ADJ         0.0       1.0  False
дурной_ADJ           0.0       1.0  False
замечательный_ADJ    1.0       0.0  False
злой_ADJ             0.0       1.0  False
невкусно_ADJ         0.0       1.0  False
невкусный_ADJ        0.0       1.0  False
незабываемый_ADJ     1.0       0.0  False
необычный_ADJ        1.0       0.0  False
несъедобный_ADJ      0.0       1.0  False
нормально_ADJ        0.0       1.0  False
обидный_ADJ          0.0       1.0  False
оригинальный_ADJ     1.0       0.0  False
отвратительно_ADJ    0.0       1.0  False
плохо_ADJ            0.0       1.0  False
плохой_ADJ           0.0       1.0  False
удивительный_ADJ     1.0       0.0  False
хороший_ADJ          0.0       1.0  False
хорошо_ADJ           0.0       1.0  False
яркий_ADJ            1.0       0.0  False

In [155]:
resolve_food = list(food_df[food_df['ok'] == False].dropna().index)
resolve_food

['вкусный_ADJ',
 'глупо_ADJ',
 'голодный_ADJ',
 'дурной_ADJ',
 'замечательный_ADJ',
 'злой_ADJ',
 'невкусно_ADJ',
 'невкусный_ADJ',
 'незабываемый_ADJ',
 'необычный_ADJ',
 'несъедобный_ADJ',
 'нормально_ADJ',
 'обидный_ADJ',
 'оригинальный_ADJ',
 'отвратительно_ADJ',
 'плохо_ADJ',
 'плохой_ADJ',
 'удивительный_ADJ',
 'хороший_ADJ',
 'хорошо_ADJ',
 'яркий_ADJ']

In [156]:
ok_food_df = food_df.drop(index=resolve_food).fillna(0)
ok_food_df = pd.DataFrame(ok_food_df['graph'] + ok_food_df['combined'], columns=['correct'])
ok_food_df.tail()

                               correct
янтарный_ADJ                       0.0
японский_ADJ                       0.0
японско-минималистический_ADJ      0.0
ярусный_ADJ                        0.0
ясный_ADJ                          0.0

In [0]:
resolved_food = [('вкусный_ADJ', 1.0),
                ('глупо_ADJ', 0.0),
                ('голодный_ADJ', 0.0),
                ('дурной_ADJ', 0.0),
                ('замечательный_ADJ', 1.0),
                ('злой_ADJ', 0.0),
                ('невкусно_ADJ', 0.0),
                ('невкусный_ADJ', 0.0),
                ('незабываемый_ADJ', 1.0),
                ('необычный_ADJ', 1.0),
                ('несъедобный_ADJ', 0.0),
                ('нормально_ADJ', 1.0),
                ('обидный_ADJ', 0.0),
                ('оригинальный_ADJ', 1.0),
                ('отвратительно_ADJ', 0.0),
                ('плохо_ADJ', 0.0),
                ('плохой_ADJ', 0.0),
                ('удивительный_ADJ', 1.0),
                ('хороший_ADJ', 1.0),
                ('хорошо_ADJ', 1.0),
                ('яркий_ADJ', 1.0)]

In [159]:
resolved_food_df = pd.DataFrame([el[1] for el in resolved_food], columns=['correct'], index=resolve_food)
resolved_food_df.tail()

                  correct
плохой_ADJ            0.0
удивительный_ADJ      1.0
хороший_ADJ           1.0
хорошо_ADJ            1.0
яркий_ADJ             1.0

In [163]:
ok_food_df.append(resolved_food_df)

                  correct
авторский_ADJ         0.0
агрессивный_NOUN      1.0
адекватный_ADJ        0.0
адоптировать_ADJ      0.0
ажурный_ADJ           0.0
...                   ...
плохой_ADJ            0.0
удивительный_ADJ      1.0
хороший_ADJ           1.0
хорошо_ADJ            1.0
яркий_ADJ             1.0

[1457 rows x 1 columns]

In [0]:
ok_food_scores = [tuple(r) for r in ok_food_df.append(resolved_food_df).reset_index().values]

## Combine all

### Service

In [0]:
ok_service_scores += service_n_gram_scores

In [172]:
final_service_scores_df = pd.DataFrame(ok_service_scores, columns=['word', 'score'])
final_service_scores_df['score'] = final_service_scores_df['score'].apply(int)
final_service_scores_df

                                  word  score
0                        авторский_ADJ      0
1                       адекватный_ADJ      0
2                     адоптировать_ADJ      0
3                        азиатский_ADJ      0
4                   аккуратненький_ADJ      0
...                                ...    ...
1791              место_NOUN как_SCONJ      0
1792          место_NOUN интерьер_NOUN      0
1793  атмосфера_NOUN обслуживание_NOUN      0
1794  обслуживание_NOUN атмосфера_NOUN      0
1795      место_NOUN обслуживание_NOUN      0

[1796 rows x 2 columns]

In [0]:
final_service_scores_df.to_csv('/content/drive/My Drive/studies/HSE/prog/nlp/proj/final_service_scores.csv', index=False)

### food

In [0]:
ok_food_scores += food_n_gram_scores

In [176]:
final_food_scores_df = pd.DataFrame(ok_food_scores, columns=['word', 'score'])
final_food_scores_df['score'] = final_food_scores_df['score'].apply(int)
final_food_scores_df

                                  word  score
0                        авторский_ADJ      0
1                     агрессивный_NOUN      1
2                       адекватный_ADJ      0
3                     адоптировать_ADJ      0
4                          ажурный_ADJ      0
...                                ...    ...
1850                 плохо_ADV не_PART      0
1851         плохо_ADJ не_PART и_CCONJ      0
1852                плохо_ADJ все_PRON      0
1853  плохой_ADJ не_PART интерьер_NOUN      0
1854              плохо_ADJ совсем_ADV      0

[1855 rows x 2 columns]

In [0]:
final_food_scores_df.to_csv('/content/drive/My Drive/studies/HSE/prog/nlp/proj/final_food_scores.csv', index=False)